@primary_0: rgb(0, 110, 255);
@primary_100: rgb(255, 112, 87);

@danger: rgb(255, 67, 34);
@warning: rgb(255, 208, 0);
@sucsess: rgb(57, 228, 85);

@bg_0: #000;
@bg_100: rgb(20, 20, 20);
@bg_200: rgb(12, 12, 12);

@font_0: 'Roboto Mono';
@text_0: white;
@text_100: rgb(189, 189, 189);
@text_200: rgb(102, 102, 102);

@border_0: 1px solid @bg_100;